<div class="container">
    <mat-card class="card">
        
        <img mat-card-image src="../../../../assets/logo.svg" alt="Logo" width="">
        
        <mat-card-title-group>
            <mat-card-title id="title">
                 Content Management System 
            </mat-card-title>
        </mat-card-title-group>

        <mat-card-content>
            <form class="loginForm" (submit)="signIn()">
                <mat-form-field appearance="fill">
                    <mat-label>email</mat-label>
                    <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="email" matInput placeholder="Ex. pat@example.com" required autofocus >
                </mat-form-field>
               
                <mat-form-field appearance="fill">
                    <mat-label>password</mat-label>
                    <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" matInput required>
                </mat-form-field>
                <div *ngIf="errorMessage">
                   <p style="color: red">
                    {{errorMessage}}
                   </p>
                </div>
                <button type="submit" mat-flat-button id="submitButton" color="primary">Login</button>
            </form>
        </mat-card-content>

    </mat-card>
</div>