.mat-table {
    width: 100%;
}

.btn-detail {
    text-align: center;
   
    height: 36px;
    background: #d9dfe2;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.87);
}
