<div class="img-container">
    <!--Portada-->
    <mat-card class="image-card">
        <div class="title">PORTADA</div>
        <div class="portada-body">
            <img *ngIf="producto" id="portada-img" alt="El producto aun no tiene portada"
                src="{{producto.portada | img:producto.nombre}}">

            <button mat-button class="uploadImg">agregar imagen</button>
        </div>
    </mat-card>
    <!--Galeria-->
    <mat-card class="image-card">
        <div class="title galery-title">
            <span style="font-weight: 300">Max : 4</span>
            <span>GALERIA</span>
        </div>
        <div class="carrete-galeria">
            <ng-container *ngIf="producto.galeria">
                <div class="img-galery-container" *ngFor="let imagen of carrete">
                    <img id="portada-img" src="{{imagen | img:producto.nombre}}">
                    <button mat-fab id="quitar" (click)="outOfCarrete(imagen)">
                        <span>X</span>
                    </button>
                </div>
            </ng-container>

            <ng-container *ngIf="carrete.length !== 4">
                <div class="uploadCarrete">
                    <input (change)="fileCapture($event)" mat-button type="file" name="upload-photo">
                    <mat-icon>add</mat-icon>
                </div>
            </ng-container>
        </div>
    </mat-card>
</div>