<div id="container">
    <div id="product-detail-container" *ngIf="producto">
        <div id="container-header">
            <h1>Detalles del producto</h1>
            <span class="separator"></span>
            <button mat-mini-fab class="btnFab" id="editFab" (click)="editar()">
                <mat-icon 
                    matTooltip="Editar Producto"
                    
                    >edit</mat-icon>

            </button>
            <button mat-mini-fab class="btnFab" id="deleteFab">
                <mat-icon matTooltip="Eliminar Producto">delete</mat-icon>
            </button>
        </div>

        <div id="container-body">
            <app-formulario [producto]="producto" [disabled]="edicion"></app-formulario>
            <app-imagenes [producto]="producto"></app-imagenes>
        </div>
    </div>
</div>