<mat-toolbar>
    <button mat-icon-button class="MenuIcon">
        <mat-icon>menu</mat-icon>
    </button>
    <span id="title"> dashboard </span>
    <span class="example-spacer"></span>

    <div id="user-container">
    
        <div id="userLetter">
            JC
            <span></span>
        </div>
    
    
        <div id="user-data">
            <span id="name">Josue Campos</span>
            <span id="email">campos.aaron.15@gmail.com</span>
        </div>

        <button mat-button id="logout" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
   
    </div> 

</mat-toolbar>